# python
*.pyc
# venv
venv
# tests
tests/output
.pytest_cache/
# Ide's
.vscode
.idea

# Builds
*.tar.gz
*egg-info
.tox
releases/*
vars.yml
*__pycac

# Antsibull-changelog
changelogs/.plugin-cache.yaml
